[submodule "panda"]
  path = panda
	url = https://github.com/commaai/panda.git
[submodule "opendbc"]
  path = opendbc_repo
  url = https://github.com/zhenghao1980/opendbc.git
[submodule "msgq"]
  path = msgq_repo
  url = https://github.com/commaai/msgq.git
[submodule "rednose_repo"]
  path = rednose_repo
	url = https://github.com/commaai/rednose.git
[submodule "teleoprtc_repo"]
  path = teleoprtc_repo
	url = https://github.com/commaai/teleoprtc.git
[submodule "tinygrad"]
  path = tinygrad_repo
  url = https://github.com/tinygrad/tinygrad.git
[submodule "opendbc_repo"]
	url = https://github.com/zhenghao1980/opendbc.git
[submodule "msgq_repo"]
	url = https://github.com/commaai/msgq.git
[submodule "tinygrad_repo"]
	url = https://github.com/tinygrad/tinygrad.git
